*:before,
*:after{
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}
body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url('image/istockphoto-1351011327-612x612.jpg');
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

}