*:before,
*:after{
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}
body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url('image/istockphoto-1351011327-612x612.jpg');
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

}
.leftPage{
    width: 50%;
    background-image: url('image/image-removebg-preview.png');
    background-repeat: no-repeat;
    color: #000;
    padding: 16px;
    border-radius: 10px;
}
.leftPage h1{
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;

}
/* Input form */
.form-group {
    width: 50vw;
    }
.form-control{
    width: 95%;
    background: #1f3841 ;
    border: none;
    outline: none;
    padding: 15px 145px 15px 12px;
    border-radius: 10px;
    color: #fff;
    font-size: 1.2rem;
}
.heading2{
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;

}
.leftPage form{
    position: relative;
    width: 100%;
    margin: 2rem 0;
}
.leftPage .form select{
    width: 100%;
    background: #1f3841;
    border:none;
    outline: none;
    padding: 15px, 145px, 15px, 12px;
}
.leftPage .form option{
    width: 100%;
    background: #1f3841;
    border:none;
    outline: none;
    padding: 15px, 145px, 15px, 12px;
}
.col-form-label{
    font-weight: 400;
    font-size: 1.2rem;
}